* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.full-scroll__background-image-1 {
  background-image: url('img/1.jpg');
  background-size: cover;
  background-position: center;
}

.full-scroll__background-image-2{
  background-image: url('img/2.jpg');
  background-size: cover;
  background-position: center;
}

.full-scroll__background-image-3 {
  background-image: url('img/3.jpg');
  background-size: cover;
  background-position: center;
}

.full-scroll__background-image-4 {
  background-image: url('img/4.jpg');
  background-size: cover;
  background-position: center;
}

.full-scroll__background-image-5 {
  background-image: url('img/5.jpg');
  background-size: cover;
  background-position: center;
}


.full-scroll {
  position: relative;
}

.full-scroll__element {
  height: 200vh;
  position: relative;
}

/* Высота последнего блока cъездается предыдущим,
поэтому, увеличиваем его */

.full-scroll__element:last-child {
  height: 300vh;
}

.full-scroll__fixed-wrapper {
  top: 0;
  height: 100vh;
  position: relative;
}

.full-scroll__fix-state {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


.full-scroll__last-elem {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: auto;
  bottom: 0;
}


.full-scroll__fog {
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.2s;
  transition: background-color 0.5s;
  position: absolute;
  z-index: 1100;
}















/* 
.full-scroll__element:first-child .full-scroll__fog {
  opacity: 0;
} */




/* 


.section {
  height: 300vh;
  position: relative;
}

.fixed-block {
  top: 0;
  height: 100vh;
  position: relative;
}

.bg1-fixed-block {
  background-image: url('img/1.jpg');
  background-size: cover;
}

.bg2-fixed-block {
  background-image: url('img/2.jpg'); 
  background-size: cover;
}

.bg3-fixed-block {
  background-image: url('img/3.jpg');
  background-size: cover;
  color: #fff
}

.bg4-fixed-block {
  background-image: url('img/4.jpg');
  background-size: cover;
  color: #fff
}

.some-text {
  font-size: 60px;
  text-align: center;
  padding-top: 100px;
}

.fix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.fixed-block__bg {
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 1;
  transition: opacity 0.2s;
  position: absolute;
}

.section:first-child .fixed-block__bg {
  opacity: 0;
}

.white-to-black, .black {
  background-color: #000;
} */
