* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  height: 300vh;
  position: relative;
}

.fixed-block {
  top: 0;
  height: 100vh;
  position: relative;
  /* color: #fff; */
}

.bg1-fixed-block {
  background-image: url('img/1.jpg');
  background-size: cover;
}

.bg2-fixed-block {
  background-image: url('img/2.jpg'); 
  background-size: cover;
}

.bg3-fixed-block {
  background-image: url('img/3.jpg');
  background-size: cover;
  color: #fff
}

.bg4-fixed-block {
  background-image: url('img/4.jpg');
  background-size: cover;
  color: #fff
}

.some-text {
  font-size: 60px;
  text-align: center;
  padding-top: 100px;
}

.fix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.fixed-block__bg {
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 1;
  transition: opacity 0.2s;
  position: absolute;
}

.section:first-child .fixed-block__bg {
  opacity: 0;
}

.white-to-black, .black {
  background-color: #000;
}