* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.full-scroll {
  position: relative;

  &__element {
    height: 150vh;
    position: relative;

    &:last-child {
      // Высота последнего блока cъездается
      // предыдущим, поэтому, увеличиваем его
      height: 250vh;
    }
  }

  // Высота блока, если отключаем нестандартный скролл
  &__element-standard-height {
    height: 100vh !important;
  }

  &__fixed-wrapper {
    top: 0;
    height: 100vh;
    position: relative;

    background-size: cover;
    background-position: center;

    &_bg1 {
      background-image: url('img/1.jpg');
    }

    &_bg2 {
      background-image: url('img/2.jpg');
    }

    &_bg3 {
      background-image: url('img/3.jpg');
    }

    &_bg4 {
      background-image: url('img/4.jpg');
    }

    &_bg5 {
      background-image: url('img/5.jpg');
    }
  }

  &__fix-state {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  &__last-elem {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: auto;
    bottom: 0;
  }

  &__fog {
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #fdf5e6;
    opacity: 0;
    transition: opacity 0.2s, background-color 0.2s;
    position: fixed;
    z-index: 1100;
  }

  &__smoke {
    height: 100vh;
    width: 100%;
    z-index: 1200;
    position: fixed;
    opacity: 0;
    transition: opacity 1.5s;

    &_bg1 {
      top: 0;
      right: 0;
      background-image: url('img/smoke/1.png');
      background-repeat: no-repeat;
      background-position: right top;
    }

    &_bg2 {
      top: 0;
      left: 0;
      background-image: url('img/smoke/2.png');
      background-repeat: no-repeat;
      background-position: left top;
      background-size: cover;
    }

    &_bg3 {
      top: 0;
      left: 0;
      background-image: url('img/smoke/3.png');
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: cover;
    }
  }




}

.simple-text-block {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 20px;
}

.full-scroll__set-black-fog .content {
  color: #fff;
}

.content {
  max-width: 500px;
  position: absolute;
  bottom: 150px;
  left: 150px;
  color: #000;
  
  &__title {
    font-size: 26px;
  }

  &__text{
    margin-top: 20px;
    font-size: 22px;
  }
}
